@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/***
    The new CSS reset - By Elad Shechter: https://github.com/elad2412/the-new-css-reset
***/
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

a, button {
  cursor: revert;
}

ol, ul, menu, summary {
  list-style: none;
}

ol {
  counter-reset: revert;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

input, textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

:where(pre) {
  all: revert;
  box-sizing: border-box;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

::-webkit-details-marker {
  display: none;
}

* {
  font-family: "Poppins", sans-serif;
  font-size: 100%;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 0.6rem;
}

h2 {
  font-size: 2.25rem;
  font-weight: 800;
  margin-bottom: 0.6rem;
}

h3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: 0.6rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
}

h5 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.6rem;
}

h6 {
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 0.6rem;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

p {
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 0.6rem;
}

.color-primary {
  color: #D61355;
}

.bg-primary {
  background-color: #D61355;
}

.color-secondary {
  color: #F94A29;
}

.bg-secondary {
  background-color: #F94A29;
}

.color-warning {
  color: #FCE22A;
}

.bg-warning {
  background-color: #FCE22A;
}

.color-info {
  color: #30E3DF;
}

.bg-info {
  background-color: #30E3DF;
}

.color-success {
  color: #73EC8B;
}

.bg-success {
  background-color: #73EC8B;
}

.color-light {
  color: #6c757d;
}

.bg-light {
  background-color: #6c757d;
}

.color-dark {
  color: #000;
}

.bg-dark {
  background-color: #000;
}

.color-white {
  color: #FFF;
}

.bg-white {
  background-color: #FFF;
}

.color-mint {
  color: #73EC8B;
}

.bg-mint {
  background-color: #73EC8B;
}

ul, ol {
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}
ul li, ol li {
  font-size: 1rem;
  line-height: 1.6;
  padding: 0.5rem 0;
}
ul ul li, ul ol li {
  position: relative;
  padding-left: 1.5rem;
}
ul ul li:before, ul ol li:before {
  content: "•";
  color: #D61355;
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  top: 0;
}
ol ul li, ol ol li {
  counter-increment: list-counter;
  position: relative;
  padding-left: 2rem;
}
ol ul li:before, ol ol li:before {
  content: counter(list-counter) ". ";
  color: #F94A29;
  font-weight: bold;
  font-size: 1.2rem;
  position: absolute;
  left: 0;
  top: 0;
}

a {
  text-decoration: underline;
  color: #D61355;
}
a:hover {
  text-decoration: none;
  color: hsl(0, 0%, 110%);
  background-color: #D61355;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.list-bulleted {
  list-style-type: none;
  padding-left: 2rem;
  margin-bottom: 1rem;
}
.list-bulleted li {
  position: relative;
  font-size: 1rem;
  line-height: 1.6;
  padding: 0.5rem 0;
  padding-left: 1.5rem;
}
.list-bulleted li::before {
  content: "•";
  color: #D61355;
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  top: 0;
}

.list-numbered {
  list-style-type: none;
  padding-left: 2rem;
  margin-bottom: 1rem;
}
.list-numbered li {
  position: relative;
  font-size: 1rem;
  line-height: 1.6;
  padding: 0.5rem 0;
  padding-left: 1.5rem;
  counter-increment: list-counter;
}
.list-numbered li::before {
  content: counter(list-counter) ". ";
  color: #F94A29;
  font-weight: bold;
  font-size: 1.2rem;
  position: absolute;
  left: 0;
  top: 0;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

main {
  margin: 50px 0px;
  padding: 0 70px;
}
main.sm {
  max-width: 480px;
  margin: 0 auto;
}
main.md {
  max-width: 960px;
  margin: 0 auto;
}
main.lg {
  max-width: 1140px;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}
table th {
  padding: 10px;
  text-align: left;
  font-weight: bold;
}
table td {
  padding: 10px;
  border: 1px solid #ddd;
}

input, textarea {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #D61355;
  border-radius: 5px;
  font-size: 1rem;
  color: #000;
  background-color: #6c757d;
}
input:focus, textarea:focus {
  outline: none;
  border-color: #F94A29;
  background-color: #73EC8B;
  box-shadow: 0 0 5px #F94A29;
}

.input-checkbox {
  position: relative;
  margin-right: 0.5rem;
}
.input-checkbox input[type=checkbox] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #D61355;
  border-radius: 3px;
  background-color: #6c757d;
  cursor: pointer;
}
.input-checkbox input[type=checkbox]:checked {
  background-color: #73EC8B;
  border-color: #73EC8B;
}

.input-radio {
  position: relative;
  margin-right: 0.5rem;
}
.input-radio input[type=radio] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #D61355;
  border-radius: 50%;
  background-color: #6c757d;
  cursor: pointer;
}
.input-radio input[type=radio]:checked {
  background-color: #73EC8B;
  border-color: #73EC8B;
}

.form-container {
  max-width: 400px; /* Fixed max width */
  padding: 20px;
  margin-top: 50px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
  display: inline-block;
}

.form-group label .checkbox-input,
.form-group label .radio-input {
  margin-right: 10px;
  margin-top: 5px;
  width: auto; /* Auto width for checkboxes and radio buttons */
}

.input-text {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #D61355;
  border-radius: 5px;
  font-size: 1rem;
  color: #000;
  background-color: #6c757d;
}
.input-text:focus {
  outline: none;
  border-color: #F94A29;
  box-shadow: 0 0 5px #F94A29;
}

.input-checkbox {
  position: relative;
  margin-right: 0.5rem;
}
.input-checkbox input[type=checkbox] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #D61355;
  border-radius: 3px;
  background-color: #6c757d;
  cursor: pointer;
}
.input-checkbox input[type=checkbox]:checked {
  background-color: #D61355;
  border-color: #D61355;
}

.input-radio {
  position: relative;
  margin-right: 0.5rem;
}
.input-radio input[type=radio] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #D61355;
  border-radius: 50%;
  background-color: #6c757d;
  cursor: pointer;
}
.input-radio input[type=radio]:checked {
  background-color: #D61355;
  border-color: #D61355;
}

.input-multi {
  display: flex;
  flex-direction: column;
}
.input-multi input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: 2px solid #D61355;
  border-radius: 5px;
  font-size: 1rem;
  color: #000;
  background-color: #6c757d;
}
.input-multi input:focus {
  outline: none;
  border-color: #F94A29;
  box-shadow: 0 0 5px #F94A29;
}

/*# sourceMappingURL=whimsyhue.css.map */


/*buttons**/
.button{
  background-color: #6c757d;
    padding: 10px 10px;
    line-height: 1.5;
    cursor: pointer;
    border: 1px solid #D61355;
    margin: 15px;
}


.button-primary {
  color: white;
  border: 1px solid#D61355;
   
}

.button-secondary {
  color: #D61355;
  border: 1px solid #6c757d;
  background-color: white;
}

.button-success {
  color: white;
  background-color:  #D61355;
 
}

.button-warning {
  color:black;
  background-color: yellow;
  border-color: yellow;
}

.button-info {
  color: black;
  background-color: cyan;
}


.button-dark {
  color: white;
  background-color: black;
  border-color: black;
}

.button-white {
  color: black;
  background-color: white;
}


.button-lg {
  padding: 0.75rem 1.5rem;
}

.button-sm {
  padding: 0.25rem 0.75rem;
}



/*Tables*/

.table-simple {
  border-collapse: collapse;
  margin-top: 40px;
}

.table-simple th, .table-simple td {
  border: 1px solid ;
  padding: 8px;
  text-align: left;
}



.table-hover{
  border-collapse: collapse;
  margin-top: 40px;
}

.table-hover tr:hover {
  background-color: #D61355;
}

.table-hover th, .table-hover td {
  border: 1px solid white;
  padding: 8px;
  text-align: left ;
}



.table-stripped {
  border-collapse: collapse;
  margin-top: 40px;
}

.table-stripped  tr:nth-child(even) {
  background-color: #6c757d;
}

.table-stripped  th, .table-stripped  td {
  border: 1px solid white;
  padding: 8px;
  text-align: left;
}