@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/***
    The new CSS reset - By Elad Shechter: https://github.com/elad2412/the-new-css-reset
***/
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

a, button {
  cursor: revert;
}

ol, ul, menu, summary {
  list-style: none;
}

ol {
  counter-reset: revert;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

input, textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

:where(pre) {
  all: revert;
  box-sizing: border-box;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

::-webkit-details-marker {
  display: none;
}

* {
  font-family: "Poppins", sans-serif;
  font-size: 100%;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 0.6rem;
}

h2 {
  font-size: 2.25rem;
  font-weight: 800;
  margin-bottom: 0.6rem;
}

h3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: 0.6rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
}

h5 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.6rem;
}

h6 {
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 0.6rem;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

p {
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 0.6rem;
}

.color-primary {
  color: #D61355;
}

.bg-primary {
  background-color: #D61355;
}

.color-secondary {
  color: #F94A29;
}

.bg-secondary {
  background-color: #F94A29;
}

.color-warning {
  color: #FCE22A;
}

.bg-warning {
  background-color: #FCE22A;
}

.color-info {
  color: #30E3DF;
}

.bg-info {
  background-color: #30E3DF;
}

.color-success {
  color: #73EC8B;
}

.bg-success {
  background-color: #73EC8B;
}

.color-light {
  color: #6c757d;
}

.bg-light {
  background-color: #6c757d;
}

.color-dark {
  color: #000;
}

.bg-dark {
  background-color: #000;
}

.color-white {
  color: #FFF;
}

.bg-white {
  background-color: #FFF;
}

.color-mint {
  color: #73EC8B;
}

.bg-mint {
  background-color: #73EC8B;
}

a {
  text-decoration: underline;
  color: #D61355;
}
a:hover {
  text-decoration: none;
  color: hsl(0, 0%, 110%);
  background-color: #D61355;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

main {
  margin: 50px 0px;
  padding: 0 70px;
}
main.sm {
  max-width: 480px;
  margin: 0 auto;
}
main.md {
  max-width: 960px;
  margin: 0 auto;
}
main.lg {
  max-width: 1140px;
  margin: 0 auto;
}

/*# sourceMappingURL=whimsyhue.css.map */
