@use 'sass:color';
@use 'typography';
@use 'colors' as *;
@use 'variables';
@use 'list';
@use 'table';


// Links
// a {
//     text-decoration: underline;
//     color: map-get($themes, "primary");

//     &:hover {
//         text-decoration: none;
//         color: color.adjust(map-get($themes, "white"), $lightness: 10%);
//         background-color: map-get($themes, "primary");
//     }
// }

// Links
a {
    text-decoration: underline;
    color: map-get($themes, "primary");
    padding: 0.3rem 0.6rem; 
    border-radius: 5px; 
    transition: all 0.3s ease; 

    &:hover {
        text-decoration: none;
        color: color.adjust(map-get($themes, "white"), $lightness: 10%);
        background-color: map-get($themes, "primary");
        padding: 0.6rem 1.2rem; 
        border-radius: 5px; 
    }

    // &:focus {
    //     outline: none;
    //     background-color: map-get($themes, "primary");
    //     color: color.adjust(map-get($themes, "white"), $lightness: 10%);
    //     padding: 0.6rem 1.2rem; // Ensure focus effect matches hover
    //     border-radius: 10px; // Ensure rounded corners on focus
    // }
}


// button {
//     padding: 0.5rem 1rem;
//     border: none;
//     border-radius: 5px;
//     font-size: 1rem;
//     cursor: pointer;
//     color: map-get($themes, "light");
//     background-color: map-get($themes, "primary");

//     &:hover {
//         background-color: map-get($themes, "secondary");
//     }
// }




// Generic Button Style
.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    color: white;
    display: inline-block;
    margin: 10px 0;
    
    &:hover {
        opacity: 0.8;
    }
}

// Button Variations Based on Theme Colors
.btn-primary {
    background-color: map-get($themes, "primary");
}

.btn-secondary {
    background-color: map-get($themes, "secondary");
}

.btn-warning {
    background-color: map-get($themes, "warning");
    color: black;
}

.btn-info {
    background-color: map-get($themes, "info");
}

.btn-success {
    background-color: map-get($themes, "success");
}

.btn-dark {
    background-color: map-get($themes, "dark");
}

.btn-light {
    background-color: map-get($themes, "light");
    color: black;
}

