@use 'colors';
@use 'typography';
.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: $font-md;
    font-weight: $font-bold;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
 /*buttons**/
.button{
    background-color:$gray;
      padding: 10px 10px;
      line-height: 1.5;
      cursor: pointer;
      border: 1px solid $magenta;
      margin: 15px;
  }
  
  
  .button-primary {
    color: $white;
    border: 1px solid $magenta;
     
  }
  
  .button-secondary {
    color: $magenta;
    border: 1px solid $gray;
    background-color: $white;
  }
  
  .button-success {
    color: $white;
    background-color:  $magenta;
   
  }
  
  .button-warning {
    color:$black;
    background-color: $yellow;
    border-color: $yellow;
  }
  
  .button-info {
    color: $black;
    background-color: $cyan;
  }
  
  
  .button-dark {
    color:$white;
    background-color: $black;
    border-color: $black;
  }
  
  .button-white {
    color: $black;
    background-color: $white;
  }
  
  
  .button-lg {
    padding: 0.75rem 1.5rem;
  }
  
  .button-sm {
    padding: 0.25rem 0.75rem;
  }
  
  