input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;

    &:focus {
        outline: none;
    }
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;

  p {
    margin-bottom: 5px;
    font-weight: bold;
  }

  label {
    font-weight: normal;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .checkbox-input,
  .radio-input {
    margin: 0;
    width: auto;
    appearance: none; /* Remove default styling */
    height: 20px;
    width: 20px;
    border: 1px solid #000;
    border-radius: 3px;
    cursor: pointer;

    &:checked {
      background-color: #000; /* Change color when checked */
    }
  }

  .radio-input {
    border-radius: 50%; /* Make radio buttons circular */
  }
}

  