// Main Container

main {
    margin: 50px 0px;
    padding: 0 70px;

    &.sm {
        max-width: 480px;
        margin: 0 auto;
    }

    &.md {
        max-width: 960px;
        margin: 0 auto;
    }

    &.lg {
        max-width: 1140px;
        margin: 0 auto;
    }


}

// Define width variables
$width-xxs: 250px;
$width-sm: 480px;
$width-md: 720px;
$width-lg: 960px;
$width-xl: 1140px;

// Widths Map
$widths: (
    "xxs": $width-xxs, 
"sm": $width-sm,
  "md": $width-md,
  "lg": $width-lg,
  "xl": $width-xl
);

// Generate width utility classes
@each $name, $width in $widths {
  .width-#{$name} {
    max-width: $width;
    margin-left: auto;
    margin-right: auto;
  }
}


// Define margin variables for different spacing needs
$margin-sm: 0.5rem;
$margin-md: 1rem;
$margin-lg: 2rem;
$margin-xl: 3rem;

// Generate margin utility classes
@each $name, $size in (sm: $margin-sm, md: $margin-md, lg: $margin-lg, xl: $margin-xl) {
  .margin-top-#{$name} {
    margin-top: $size;
  }
  .margin-bottom-#{$name} {
    margin-bottom: $size;
  }
  .margin-#{$name} {
    margin: $size;
  }
}



// Left align for color-palette section
.color-palette-left-align div {
  margin-left: 0 !important; // Override centering
  margin-right: 0; // Ensure it's not centered
}